body,html{
    margin: 0;
    padding:0;
    min-height: 100%;
    font-family: 'Raleway', sans-serif; 
    background-color: black;
}
h1{
    padding-top: 0.2em;
    margin: 0;
    text-align: center;
}
h2{
    padding-top: 0.2em;
    margin: 0;
    text-align: center;
}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%; 
    max-width: 100vw;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-image: url("back.jpg");
}
.headerflex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100vw;
    padding: 1%;
    cursor: zoom-in;
    background-color: rgb(255, 255, 255);
    font-family: 'Arimo', sans-serif;
    background-image: url("backw.jpg");
}
.page{
    margin: 0;
    width: 100%; 
    max-width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
    padding: 0;
} 
.leftbox{
    display:flex;
    max-width: 20vw; 
    max-height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    cursor: zoom-in;
    padding:0em 0.8em 0em 0em;
    background-image: url("back.jpg");
}
.leftblock{
    background-color: rgb(255, 255, 255);
    background-image: url("backw.jpg");
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:100%;
    max-height: 100%;
    margin:0.1em 0em 0.1em 0em;
    padding:0.4em;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:blue;
}
.leftlink{
    color:rgb(37, 1, 85);
    text-decoration: underline;
    text-decoration-color:rgb(37, 1, 85);
    padding: 0.2em 0em 0.2em 0em;
    font-family: 'Arimo', sans-serif;
}
.centerbox{
    display:flex;
    padding: 0em 0.8em 0em 0em; 
    flex-direction: column;
    flex-wrap:  nowrap;
    justify-content: flex-start;
    align-items:space-around;
    padding:1em;
    width: 100%;
    max-width: 100vw;
    background-image: url("back.jpg");
}
.doubleblock{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;  
    max-width: 100%;        
    padding:1em 0em 1em 0em;

}
.centerblock{
    display:flex;
    align-items: stretch;
    flex-direction:row;
    flex-wrap: nowrap;
    min-width: 50%;
    min-height: 40vh;
    margin:0.2em;
    background-color: rgb(255, 255, 255);
    background-image: url("backw.jpg");
}  
.textinblock{
    display: flex;
    text-align: start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 100%;
    font-size:1em;
    padding:0.5em;
}
.centerlink{
    color:rgb(37, 1, 85);
    text-decoration: bold;
    text-decoration-color:rgb(37, 1, 85);
    padding: 0.4em;
    font-family: 'Arimo', sans-serif;
}
.title{
    padding: 0.4em 0em 0em 0em;
    font-size: 1.5em;
    margin: 0.2em;  
}
.text{
    font-family: cursive;
    font-size: 0.9em;
    color:black;
    padding:0em 0.4em 0em 0.4em;
}
@media screen and (max-width:800px){
    .doubleblock,.centerblock{
        flex-wrap: wrap;
    }
    .leftlink,.leftbox{
        text-align: justify;
    }
}