<head>
    <meta charset="UTF-8">
    <title>TheNewAdsonTimes</title>
    <link rel="stylesheet" type="text/css" href="times.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <header>    
        <h1 style="padding:1.2% ;font-size: 2.5 em;">The New Adson Times</h1>
        <span style="padding:0.8%">Notícias de verdade para quem tem compromisso de verdade</span>
        <div class="headerflex">   
            <a href="times.html">Mundo</a>
            <a href="times.html">Brasil</a>
            <a href="times.html">Tecnologia</a>
            <a href="times.html">Política</a>
            <a href="times.html">Estilo de Vida</a>
            <a href="times.html">Negócios</a>
            <a href="times.html">Esportes</a>
            <a href="times.html">Arte</a>
        </div>
    </header>

     <div class="page">
        <div class="leftbox">
            <div class="leftblock">
                <h1 style="width:100%;">Em Alta</h1>    
            </div>
            <div class="leftblock"> 
                <a class="leftlink" href="times.html">Teoria da Terra plana provada?</a>
                <div    >Notas fotos do horizonte apresentadas por "cientistas" não mostram suposta curvatura da terra</div>
            </div>
            <div class="leftblock">
                <a class="leftlink" href="times.html">A dieta que está mudando a vida dos famosos</a>
                <div>Aprenda como controlar a contagem de calorias nessa dieta baseada em TicTacs</div>
            </div>
            <div class="leftblock">
                <a class="leftlink" href="times.html">Seu médico não acredita que homeopatia é a melhor opção?</a>
                <div>Como convencer as pessoas a fazer sua vontade sempre que você quiser por meio da hipnose.</div>
            </div>
            <div class="leftblock">
                <a class="leftlink" href="times.html">Zé Gotinha x Ku Klux Klan:Existe uma relação</a>
                <div>Como saber se as vacinas estão causando mais do que autismo nos seus filhos.</div>
            </div>
        </div>
      <div class="centerbox">
            <div class="doubleblock">
                <div class="centerblock">
                    <img class="centerblock" src="trump.jpg" style="max-width: 100%;;height:auto;">
                    <div class="textinblock">
                        <div class="title">Mundo</div>
                        <a class="centerlink" href="times.html">EUA: Por que toda foto do Trump ele está com uma careta diferente?</a>
                        <div class="text">Expresssões faciais feias são uma forma de demonstar poder aquisitivo, mostram pesquisas</div>
                    </div>
                </div>
                <div class="centerblock">
                    <div class="textinblock">
                        <div class="title">Clima</div>
                        <a class="centerlink" href="times.html">Greta Thunberg: como agir diante as movimentações sobre o aquecimento global</a>
                        <div class="text">Saiba como preparar seus melhores looks de calor para estação Outono-Inverno</div>
                    </div>
                </div>
            </div>
            <div class="doubleblock">
                <div class="centerblock">
                    <div class="textinblock">
                        <div class="title">Esportes</div>
                        <a class="centerlink" href="times.html">Futebol é passado: conheça o esporte milionário</a>
                        <div class="text">Dota 2 possui o maior torneio de esportes, com mais de 30 milhões de dólares de premiação em torneio</div>
                    </div>
                </div>
                <div class="centerblock">
                    <img class="centerblock" src="salad.jpg" style="width: 100%">
                    <div class="textinblock">
                        <div class="title">Estilo de Vida</div>
                        <a class="centerlink" href="times.html">Sorria mais:comer mais salada pode ajudar com isso</a>
                        <div class="text">Já percebeu que todas as fotos de alguém comendo salada tem alguém sorrindo?</div>
                    </div>
                </div>
            </div>

        </div>

    </div>       
</body  >